@import '../../assets/partials/variables.scss';

.splash-screen {
	background: url('./images/background.png');
	height: 100vh;

	img {
		width: 80%;
		margin-top: 75%;
	}

	.start-button {
		width: 18rem;
		margin-top: 13rem;
		height: 3rem;
		background: $theme-color-blue !important;
		transition-duration: 0.4s;

		&:active,
		:hover,
		:focus {
			background: $theme-color-blue !important;
			outline: 0;
			box-shadow: none;
		}
	}
}
