$theme-color-black: #1b262c;
$theme-color-blue: #0f4c75;
$theme-color-powder-blue: #3282b8;
$theme-color-black: #bbe1fa;
$theme-white: #fff;
$theme-black: #202931;
$theme-header-text: unquote('#202931de');
$theme-body-text: #525f7f;
$body-color: #f7f7f7;
$footer-background: #f6f9fc;
$shadow-color: unquote('#00000026');
