@import '../../assets/partials/variables.scss';

.signup-view {
	text-align: center;
	.logo-image {
		width: 60%;
		margin-top: 15%;
	}

	.form-section {
		margin-top: 2rem;
		h6 {
			font-weight: 700;
			font-size: 12px;
		}

		.MuiTextField-root {
			width: 100%;
			margin-bottom: 1rem;

			label {
				font-size: 13px;
			}
		}

		.login-button {
			margin-top: 1rem;
			width: 6rem;
			background: $theme-color-blue !important;
			color: #fff;

			&:active,
			:hover,
			:focus {
				background: $theme-color-blue !important;
				outline: 0;
				box-shadow: none;
			}
		}

		.bottom-text {
			font-size: 10px;
			position: absolute;
			// left: 70px;
			text-align: center;
			bottom: 10px;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}

				span {
					color: $theme-color-blue;
				}
			}
		}
	}
}
